In [ ]:


import datetime
today=datetime.date.today()
yesterday=today-datetime.timedelta(days=1)
tommorrow=today+datetime.timedelta(days=1)
print(today)
print(yesterday)

print(tommorrow)

In [20]:
# Word Frequency Count
import re,operator
fre={}
with open("DataFiles/sample.txt",'r') as f:
    fname=f.read()
    f.close()
    fname=fname.lower()
    
    wordlist=re.split(r'\W',fname)
for i in wordlist:
    if i in fre:
        fre[i]=fre[i]+1
    else:
         fre[i]=1
for k,v in sorted(fre.items(), key=operator.itemgetter(1) ,reverse=True):
    print(str(v) + " : " + k)

10 :
3 : vidya
2 : 1
2 : facebook
2 : 2
2 : 3
1 : wants
1 : to
1 : change
1 : his
1 : profile
1 : on
1 : now
1 : has
1 : some
1 : restriction
1 : over
1 : the
1 : dimension
1 : of
1 : that
1 : we
1 : can
1 : upload

In [2]:

import pandas as pd
def CSV_FILE(fpath):
    return pd.read_csv(fpath)
fpath="DataFiles/Income.csv"
CSV_FILE(fpath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [5]:
#Combined Average Income of all states from 2005 to 2013
def AvrgOfAllStates(df):
    for i in range(0,5):
        columns=df.values[i][2:]
        s=0
        c=0
        for col in columns:
            s+=col
            c+=1
        print(df.values[i][1],s//c)
    return
AvrgOfAllStates(CSV_FILE(fpath))

Alabama 41126
Alaska 60106
Arizona 48967
Arkansas 38828
California 55350

In [6]:
#State with highest average income in the last three years
def AvrgOfThreeStates(df):
    a=[]
    d={}
    for i in range(0,5):
        columns=df.values[i][8:]
        s=0
        c=0
        for col in columns:
            s+=col
            c+=1
        a.append(s//c)
        d[df.values[i][1]]=a[i]
    for i in d.items():
        if i[1]==max(a):
            print(i[0],max(a))
    return
AvrgOfThreeStates(CSV_FILE(fpath))

Alaska 60738

In [7]:
#State with lowest average income from 2007 to 2010
def LowestAvrg(df):
    a=[]
    d={}
    for i in range(0,5):
        columns=df.values[i][4:8]
        s=0
        c=0
        for col in columns:
            s+=col
            c+=1
        a.append(s//c)
        d[df.values[i][1]]=a[i]
    for i in d.items():
        if i[1]==min(a):
            print(i[0],min(a))
    return
LowestAvrg(CSV_FILE(fpath))

Arkansas 38876

In [12]:
#Print the list of all states in the same line with average income less than California

def AverageLessThanCalifornia(df):
    l=[]
    d={}
    
    for i in range(0,5):
        columns = df.values[i][2:]
        s=0
        c=0
        #print(columns)
        for column in columns:
            s+=column
        #print(sum1//len(df.values[0][2::]))
        #print(df.values[i][1],(sum1//len(df.values[0][2::])))
            a=s//len(df.values[0][2::])
        l.append(a)
    #print(l)
        d[df.values[i][1]]=l[i]
    #print(d.items())
    value=0
    k=[]
    for i in d.items():
        if i[0]=="California":
            value=i[1]
    for i in range(len(l)):
        if value>l[i]:
            k.append(l[i])
    print(k)      
       
    return 

AverageLessThanCal(CSV_FILE(fpath))

[41126, 48967, 38828]

In [17]:
#Print the names of states based on descending order of income in the year 2009
def Descending(df):
    l=[]
    d={}
    for i in range(0,5):
        columns=df.values[i][2]
        l.append(columns)
        d[df.values[i][1]]=l[i]
    l=sorted(l,reverse=True)
    for j in range(0,5):
        for i in d.items():
             if i[1]==l[j]:
                print(i[0],l[j])
    return
Descending(CSV_FILE(fpath))

Alaska 55891
California 51755
Arizona 45245
Alabama 37150
Arkansas 36658

In [26]:
#State with the lowest recorded income from 2005 to 2013

def LowestRecord(df):
    l=[]
    d={}
    for i in range(0,5):
        columns=min(df.values[i][2:])
        l.append(columns)
        d[df.values[i][1]]=l[i]
    for i in d.items():
        if i[1]==min(l):
            print(i[0],i[1])
    return
LowestRecord(CSV_FILE(fpath))

Arkansas 36538